// @media (min-width: 426px) {

.nav {
    ul {
        margin: 0;
        padding: 0;

        li {
            font-size: 18px;
            display: inline-flex;
            padding-right: 18px;

            :hover {
                transition: 500ms;
                transform: translateY(-5px);
                color: rgb(177, 50, 177);
                }

        a {
            color: #2c8b71;
            text-decoration: none;
            }
        
            button {
                font-family: 'Comfortaa';
                color: #2c8b71;
                background: none;
                border: 0;
                font-size: 18px;
                text-decoration: none;
                padding: 0;
                cursor: pointer;
                }
                img {
                    width: 22px;
                    height: 22px;
                    margin-right: 10px;
                    border-radius: 10px;
                    }
            }
        }
    }

//     .hamburger {
//         display: none;
//     }
// // }

//     .hamburger {
//         display: block;
//         cursor:auto;
//         margin-right: 30px;

//         .bar {
//             display: block;
//             width: 25px;
//             height: 3px;
//             margin: 5px auto;
//             -webkit-transition: all 0.3s ease-in-out;
//             transition: all 0.3s ease-in-out;
//             background-color: white;
//         }
//     }
// }

//     @media (max-width: 425px) {
//         .hamburger {
//             display: block;
        
//             .hamburger.active 
//                 .bar:nth-child(2) {
//                     opacity: 0;
                
//                 .bar:nth-child(1) {
//                     transform: translateY(8px) rotate(45deg);
                    
//                 .bar:nth-child(3) {
//                     transform: translateY(-8px) rotate(-45deg);
//                     }
//                 }
//             }       
//         }

//         .menunav {
//             position: fixed;
//             left: -100%;
//             top: 70px;
//             gap: 0;
//             flex-direction: column;
//             background-color: #ffd1dc;
//             width: 100%;
//             text-align: center;
//             transition: 00.3s;
            
//             .itemnav {
//                 margin: 16px 0;
            
//             .menunav.active {
//                 left: 0;
//             }
//         }
//     }
// }

@media screen and (max-width: 768px) {
    .nav {
        ul {
            li button {
                font-size: 16px;
                display: inline-flex;   
                }
            }
        }
    }