#glossary {
  overflow-y: scroll;
  row-gap: 15px;
  column-gap: 10px;
  width: min-content;
  margin: auto;
  background-color: skyblue;
<<<<<<< HEAD
  border-radius: 5px;
=======
  border-radius: 5px; 
  z-index: 0;
  top: 0;
  margin-top: 0;
  position: center
>>>>>>> ce5bdcadaccf12009fdf038e4717bfc7066b45de
}

.glossCard {
  text-align: center;
  border-bottom: solid 2px #ffd1dc;
}

.glossImage  {
  width: 100%;
  border-radius: 5px; 
}

.glossText {
  line-height: 1.5;
}
