.card-img-top  {
  object-fit: cover;
  text-align: center;
  width:  200px;
  height: 200px;
  margin: 20px;
	padding: 10px;
}

.card {
  background-color: skyblue;
  text-align: center;
	margin: 20px;
	padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px; 
}

