.footer {
  position: fixed;
  bottom: 0;
    display: flex;
    width: stretch;
    margin: -30px 1px 0 1px; 
    height: 30px;
    background-color: #ffd1dc;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px 25px 0 0;
    z-index: 4;
    
    h1 {
        font-size: 18px;
        color: #2c8b71;
        padding-left: 10px;
    }

    .link {
        font-family: 'comfortaa';
        font-size: 13px;
        color: rgb(177, 50, 177);
        text-decoration: underline;
        opacity: .6;
    }

    .logo {
        width: 12px;
        height: 12px;
        padding-right: 10px;
    }

}