.footer {
    display: flex;
    width: stretch;
    margin: 45px 1px 0 1px; 
    height: 30px;
    background-color: #ffd1dc;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px 25px 0 0;
    
    h1 {
        font-size: 18px;
        color: #2c8b71;
        padding-left: 10px;
    }

    .glow {
        font-family: 'comfortaa';
        -webkit-animation: glow .5s ease-in-out infinite alternate;
        -moz-animation: glow .5s ease-in-out infinite alternate;
        animation: glow .5s ease-in-out infinite alternate;
        font-size: 15px;
        transform: scale( 1.5, .8 );
        color: rgb(177, 50, 177);
        text-decoration: underline;
        opacity: .6;
    }

    .logo {
        width: 12px;
        height: 12px;
        padding-right: 10px;
    }

}