.calendar-container {
  input {
    width: 20%;
    margin-right: 10px;
  }
  .start-date {
    margin-right: 10px;
  }
  .add-event {
    margin-top: 10px;
  }
  .calendar-element {
    height: 500px;
    margin: 50px;
  }
}
