.calendar-container {
  min-width: stretch;
  min-height: stretch;

    .headerCal {
        text-align: center;
      }

      .inputCal {
      align-content: center;
      text-align: center;
      
        input {
          display: relative;
          width: 40%;
      }

      .add-event {
        margin: 10px 0 10px 0;
      }
    }

  .calendar-element {
    max-height: 70%;
    max-width:  90%;
    overflow-y: visible;
    margin:auto;

    .rbc-month-row {
      z-index: -1;
    }
  }
}