.header {
    display: flex;
    height: 45px;
    position: fixed;
    width: stretch;
    background-color: #ffd1dc;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 35px 35px;
    font-size: 18px;
    z-index: 1;
    margin: 0;
    // overflow: hidden;
    // text-overflow: wrap;

    h1 {
        color: #2c8b71;
        padding-left: 15px;
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 16px;
    }
}