.header {
    display: flex;
    height: min-content;
    background-color: #ffd1dc;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    font-size: 18px;

    & > h1 {
        color: white;
        padding-left: 15px;
        margin-block-start: 0.0;
        margin-block-end: 0.0;
    }
}